.capitulo-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

.titulo-container {
    text-align: center;
    margin-bottom: 30px;
}

.titulo-capitulo {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.contenido-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parrafo1, .parrafo2 {
    margin-bottom: 20px;
}

.parrafo1 p, .parrafo2 p {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: justify;
    color: #555;
}

.imagen-container {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.imagen-capitulo {
    width: 100%;
    border-radius: 20px;
}

.boton-container {
    text-align: center;
    margin-top: 20px;
}

.link-back {
    text-decoration: none;
    color: #fff;
}

.link-back:hover {
    text-decoration: none;
    color: #fff;
}

.btn {
    background-color: #353535;
    color: #f5f5f5;
    border: none;
    font-size: 1.4rem;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #8d8d8d;
}
