body {
    background: linear-gradient(to bottom, #e1ecf1, #005377);
    min-height: 100vh;
    font-family: 'Borel', cursive;
}

.capitulo-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    text-align: center;
    margin: 20px auto;
}

.titulo-capitulo {
    color: #003458;
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}

.texto-capitulo {
    width: 100%;
    height: 150px;
    font-size: 3em;
    padding: 25px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    resize: none;
}

.imagen-container {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.imagen-capitulo {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.imagen-capitulo:hover {
    transform: scale(1.05);
}

.boton-container {
    text-align: center;
    margin-top: 20px;
    
}

.link-back {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.link-back:hover {
    text-decoration: none;
    color: #ffffff;
}

.btn-1 {
    background-color: #4bbd17;
    color: #ffffff;
    border: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
    display: inline-block;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif !important;
}

.btn-1:hover {
    background-color: #208020;
    color: #ffffff;
    transform: translateY(-2px);
}

.btn-2 {
    background-color: #2980b9;
    color: #ffffff;
    border: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
    display: inline-block;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif !important;
}

.btn-2:hover {
    background-color: #1f618d;
    color: #ffffff;
    transform: translateY(-2px);
}

.swal2-popup {
    font-family: 'Arial', sans-serif !important;
}

@media (max-width: 768px) {
    .titulo-capitulo {
        font-size: 2em;
    }

    .texto-capitulo {
        font-size: 1em;
    }

    .btn {
        font-size: 1rem;
        padding: 8px 16px;
    }
}
