body {
    background-color: rgb(198, 217, 231);
}

.capitulo-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    margin-bottom: 20px;
    max-width: 1000px;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
}

.titulo-container {
    text-align: center;
    margin-bottom: 30px;
}

.titulo-capitulo {
    color: #2c3e50;
    font-size: 2.2em;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.contenido-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parrafo1, .parrafo2 {
    margin-bottom: 20px;
    min-width: 90%;
    text-align: justify;
}

.parrafo1 p, .parrafo2 p {
    font-size: 1.3em;
    line-height: 1.8;
    color: #34495e;
}

.imagen-container {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.imagen-capitulo {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.imagen-capitulo:hover {
    transform: scale(1.05);
}

.boton-container {
    text-align: center;
    margin-top: 20px;
}

.link-back {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.link-back:hover {
    text-decoration: none;
    color: #ffffff;
}

.btn {
    background-color: #2980b9;
    color: #ffffff;
    border: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
}

.btn:hover {
    background-color: #1f618d;
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .titulo-capitulo {
        font-size: 2em;
    }

    .parrafo1 p, .parrafo2 p {
        font-size: 1em;
    }

    .btn {
        font-size: 1rem;
        padding: 8px 16px;
    }
}
