.background-div-despegamos {
    background: linear-gradient(to bottom, #cbefff, #76d5fd);
    min-height: 100vh;
}

.title-home {
    font-size: 2.5em;
    font-family: 'Borel', cursive;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 40px;
}

.button-container {
    display: flex;
    justify-content: space-around;
}
