.background-div {
    background-color: rgb(198, 217, 231);
}

.title-home {
    padding: 20px;
    font-size: 2.2em; 
    text-shadow: 2px 2px 4px rgb(255, 255, 255); 
    font-family: 'Montserrat', sans-serif;
}

.slides-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 30px;
}

.slide {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.slide-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: space-around;
}
