.background-div {
    background-color: rgb(198, 217, 231);
    padding: 20px 0;
}

.title-home {
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.button-container {
    display: flex;
    justify-content: space-around;
}
